<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-8 text-sky-500">Chính sách bảo mật thông tin</h1>
    <p class="mb-4">Cám ơn quý khách đã truy cập vào website <a href="dets.co.jp">dets.co.jp</a> Chúng tôi tôn trọng và cam kết sẽ
        bảo mật những thông tin mang tính riêng tư của bạn.

        Xin vui lòng đọc bản Chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn
        trọng và bảo vệ quyền lợi của người truy cập.

        Chính sách bảo mật thông tin sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó)
        tiết lộ thông tin cá nhân của bạn.

        Chính sách bảo mật thông tin này cũng sẽ giải thích các bước chúng tôi thực hiện để bảo mật thông tin cá
        nhân của khách hàng.

        Cuối cùng, sẽ giải thích quyền lựa chọn của quý khách về việc thu thập, sử dụng và tiết lộ thông tin cá nhân
        của mình.</p>
    <h2 class="text-xl font-bold mb-4 text-sky-500">1. Thu thập thông tin cá nhân</h2>
    <p class="mb-4">Chúng tôi sẽ thu thập các thông tin khác nhau của quý khách khi bạn muốn đặt hàng trên web.

        Những thông tin được thu thập không giới hạn thông tin cá nhân,bao gồm: danh hiệu, tên, giới tính, ngày
        sinh, email, địa chỉ, địa chỉ giao hàng, số điện thoại, fax, chi tiết thanh toán, chi tiết thanh toán bằng
        thẻ hoặc chi tiết tài khoản ngân hàng.

        Chúng tôi sẽ dùng thông tin quý khách đã cung cấp để xử lý đơn đặt hàng, cung cấp các dịch vụ và thông tin
        yêu cầu thông qua website và theo yêu cầu của bạn. Hơn nữa, chúng tôi sẽ sử dụng các thông tin đó để quản lý
        tài khoản của bạn; xác minh và thực hiện giao dịch trực tuyến, kiểm toán việc tải dữ liệu từ web; cải thiện
        bố cục và nội dung trang web và điều chỉnh cho phù hợp với người dùng; nhận diện khách vào web, nghiên cứu
        nhân khẩu học, gửi thông tin bao gồm thông tin sản phẩm và dịch vụ, nếu bạn không có dấu hiệu từ chối. Nếu
        quý khách không muốn nhận bất cứ thông tin tiếp thị của chúng tôi thì có thể từ chối bất cứ lúc nào.

        Các khoản thanh toán trực tuyến sẽ được xử lý bởi các đại lý Mạng lưới Quốc tế của chúng tôi. Quý khách chỉ
        đưa cho chúng tôi hoặc Đại lý hoặc website những thông tin chính xác, không gây nhầm lẫn và phải thông báo
        cho chúng tôi nếu có thay đổi.

        Chi tiết đơn đặt hàng của bạn được quản lý bằng cách đăng nhập tài khoản của bạn trên web. Tại đây, bạn sẽ
        thấy chi tiết đơn đặt hàng của mình, những sản phẩm đã nhận và những sản phẩm đã gửi và chi tiết email, ngân
        hàng và bản tin mà bạn đặt theo dõi dài hạn. Quý khách cam kết bảo mật dữ liệu cá nhân và không được phép
        tiết lộ cho bên thứ ba. Chúng tôi không chịu bất kỳ trách nhiệm nào cho việc dùng sai mật khẩu nếu đây không
        phải lỗi của chúng tôi.</p>
    <h2 class="ml-10 text-xl font-bold mb-4 text-sky-500">Điều lệ khác về thông tin cá nhân</h2>
    <p class="ml-10 mb-4">Chúng tôi có thể dùng thông tin cá nhân của bạn để nghiên cứu thị trường. chi tiết sẽ được ẩn và
        chỉ được dùng để thống kê. Quý khách có thể từ chối không tham gia bất cứ lúc nào. Bất kỳ câu trả lời cho
        khảo sát hoặc thăm dò dư luận mà chúng tôi cần bạn làm sẽ không được chuyển cho bên thứ ba.

        Chúng tôi sẽ tiếp tục giấu tên dữ liệu người dùng trên website và sử dụng cho nhiều mục đích khác nhau, bao
        gồm việc xác định vị trí của người dùng và cách sử dụng các khía cạnh nhất định của website hoặc đường link
        chứa trong email tới người dùng và cung cấp dữ liệu ẩn danh đó cho bên thứ 3 là nhà xuất bản. Tuy nhiên, dữ
        liệu này không có khả năng xác định cá nhân.</h2>
    <h2 class="ml-10 text-xl font-bold mb-4 text-sky-500">Đối tác thứ ba và Liên kết</h2>
    <p class="ml-10 mb-4">Chúng tôi có thể chuyển thông tin của quý khách cho các đại lý và nhà thầu phụ trong khuôn khổ
        quy định của Chính sách bảo mật thông tin. Ví dụ: chúng tôi sẽ nhờ bên thứ ba giao hàng, nhận tiền thanh
        toán, phân tích dữ liệu, tiếp thị và hỗ trợ dịch vụ khách hàng. Chúng tôi có thể trao đổi thông tin với bên
        thứ ba với mục đích chống gian lận và giảm rủi ro tín dụng. Chúng tôi có thể chuyển cơ sở dữ liệu gồm thông
        tin cá nhân của bạn nếu chúng tôi bán cả công ty hoặc chỉ một phần. Trong khuôn khổ Chính sách bảo mật thông
        tin, chúng tôi không bán hay tiết lộ dữ liệu cá nhân của bạn cho bên thứ ba mà không được đồng ý trước trừ
        khi điều này là cần thiết cho các điều khoản trong Chính sách bảo mật thông tin hoặc chúng tôi được yêu cầu
        phải làm như vậy theo quy định của Pháp luật. Website có thể bao gồm quảng cáo của bên thứ ba và các liên
        kết đến các trang web khác hoặc khung của các trang web khác. Xin lưu ý rằng chúng tôi không có nhiệm vụ bảo
        mật thông tin hay nội dung của bên thứ ba hay các website khác, hay bất kỳ bên thứ ba nào mà chúng tôi
        chuyển giao dữ liệu cho phù hợp với Chính sách bảo mật thông tin.

        Hệ thống theo dõi hành vi của khách hàng được chúng tôi sử dụng trên kênh Hiển Thị Quảng Cáo (ví dụ như Tiếp
        Thị Lại Khách Hàng, báo cáo về nhân khẩu, sở thích của khách hàng với công cụ Google Analytics...) có thể
        thu thập được các thông tin như độ tuổi, giới tính, sở thích và số lần tương tác với số lần xuất hiện của
        quảng cáo.

        Với tính năng cài đặt quảng cáo, người dùng hoặc khác hàng có thể lựa chọn thoát ra khỏi tính năng theo dõi
        hành vi khách hàng của Google Analytics và lựa chọn cách xuất hiện của kênh Hiển Thị Quảng Cáo trên Google
    </p>
    <h2 class="text-xl font-bold mb-4 text-sky-500">2. Sử dụng Cookie</h2>
    <p class="mb-4">Cookie là tập tin văn bản nhỏ có thể nhận dạng tên truy cập duy nhất từ máy tính của bạn đến máy
        chủ của chúng tôi khi bạn truy cập vào các trang nhất định trên website và sẽ được lưu bởi trình duyệt
        internet lên ổ cứng máy tính của bạn. Cookie được dùng để nhận dạng địa chỉ IP, lưu lại thời gian. Chúng tôi
        dùng cookie để tiện cho quý khách vào web (ví dụ: ghi nhớ tên truy cập khi bạn muốn vào thay đổi lại giỏ mua
        hàng mà không cần phải nhập lại địa chỉ email của mình) và không đòi hỏi bất kỳ thông tin nào về bạn (ví dụ:
        mục tiêu quảng cáo). Trình duyệt của bạn có thể được thiết lập không sử dụng cookie nhưng điều này sẽ hạn
        chế quyền sử dụng của bạn trên web. Xin vui lòng chấp nhận cam kết của chúng tôi là cookie không bao gồm bất
        cứ chi tiết cá nhân riêng tư nào và an toàn với virus. Muốn biết thêm về cookie, vui lòng truy cập web
        http://www.allaboutcookies.org hoặc để tìm hiểu cách loại bỏ cookie khỏi trình duyệt, vui lòng vào
        http://www.allaboutcookies.org/manage-cookies/index.html.

        Trình duyệt này sử dụng Google Analytics, một dịch vụ phân tích web được cung cấp bởi Google, Inc.
        (“Google”). Google Analytics dùng cookie, là những tập tin văn bản đặt trong máy tính để giúp website phân
        tích người dùng vào web như thế nào. Thông tin được tổng hợp từ cookie sẽ được truyền tới và lưu bởi Google
        trên các máy chủ tại Hoa Kỳ. Google sẽ dùng thông tin này để đánh giá cách dùng web của bạn, lập báo cáo về
        các hoạt động trên web cho các nhà khai thác web và cung cấp các dịch vụ khác liên quan đến các hoạt động
        internet và cách dùng internet. Google cũng có thể chuyển giao thông tin này cho bên thứ ba theo yêu cầu của
        pháp luật hoặc các bên thứ ba xử lý thông tin trên danh nghĩa của Google. Google sẽ không kết hợp địa chỉ IP
        của bạn với bất kỳ dữ liệu nào khác mà Google đang giữ. Quý khách có thể từ chối dùng cookie bằng cách chọn
        các thiết lập thích hợp trên trình duyệt của mình, tuy nhiên lưu ý rằng điều này sẽ ngăn bạn sử dụng triệt
        để chức năng của website. Bằng cách sử dụng trang web này, bạn đã đồng ý cho Google xử lý dữ liệu về bạn
        theo cách thức và các mục đích nêu trên.
    </p>


    <h2 class="text-xl font-bold mb-4 text-sky-500">3. Bảo mật</h2>
    <p class="mb-4">Chúng tôi có biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn truy cập trái phép hoặc
        trái pháp luật hoặc mất mát hoặc tiêu hủy hoặc thiệt hại cho thông tin của bạn. Khi thu thập dữ liệu trên
        web, chúng tôi thu thập chi tiết cá nhân của bạn trên máy chủ an toàn. Chúng tôi dùng tường lửa cho máy chủ.
        Khi thu thập chi tiết các thẻ thanh toán điện tử, chúng tôi dùng mã hóa bằng Secure Socket Layer (SSL). Khi
        chúng tôi không thể bảo đảm an ninh 100%, SSL sẽ gây khó khăn cho hacker muốn giải mã thông tin của quý
        khách. Bạn không nên gửi đầy đủ chi tiết của thẻ tín dụng hay thẻ ghi nợ khi chưa được mã hóa cho chúng tôi.
        Chúng tôi duy trì các biện pháp bảo vệ vật lý và điện tử trong mối liên kết với thu thập, lưu trữ và tiết lộ
        thông tin của bạn. Các thủ tục an toàn của chúng tôi nghĩa là chúng tôi có thể đôi khi yêu cầu giấy tờ chứng
        minh trước khi tiết lộ thông tin cá nhân cho bạn.

        Chúng tôi khuyên quý khách rằng quý khách không nên đưa thông tin chi tiết về việc thanh toán với bất kỳ ai
        bằng e-mail, chúng tôi không chịu trách nhiệm về những mất mát quý khách có thể gánh chịu trong việc trao
        đổi thông tin của quý khách qua internet hoặc email.

        Quý khách tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ
        thống hay làm thay đổi cấu trúc dữ liệu. Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động
        nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi
        quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.

        Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc
        phải cung cấp những thông tin này cho các cơ quan pháp luật.

        Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và tòa án
        Việt Nam có thẩm quyền xem xét.
    </p>


    <h2 class="text-xl font-bold mb-4 text-sky-500">4. Quyền lợi khách hàng</h2>
    <p class="mb-4">Quý khách có quyền yêu cầu truy cập vào dữ liệu cá nhân của mình, có quyền yêu cầu chúng tôi sửa
        lại những sai sót trong dữ liệu của bạn mà không mất phí. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi
        ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị.

        a) Mục đích và phạm vi thu thập thông tin cá nhân:

        Các thông tin thông tin cá nhân của các thành viên, có thể được chúng tôi sử dụng vào những mục đích hợp
        pháp dưới đây:

        - Sử dụng để xác nhận đặt hàng khi khách có nhu cầu mua bất kỳ sp nào trên website

        - Dùng trong gửi thông báo, thực hiện các chương trình quảng cáo, PR cho các dịch vụ mới được sử dụng trên
        website

        Cung cấp thông tin về dịch vụ bằng email,

        Dùng để phân tích xu hướng tiêu dùng của khách hàng, với mục đích xây dựng những dịch vụ mới, hoặc cải thiện
        những dịch vụ cũ.

        Dùng để liên lạc với thành viên khi chúng tôi điều tra thông tin khách hàng, tổ chức khuyến mại, trao đổi ý
        kiến thông tin trên bảng đánh giá, bình luận.

        Dùng để trả lời các thắc mắc của khách hàng: chúng tôi sẽ trả lời thành viên bằng email, điện thoại, hoặc
        gửi thư tới địa chỉ của thành viên, khi thành viên thắc mắc

        b) Thời gian lưu trữ thông tin:

        - Chúng tôi sẽ lưu trữ các Thông tin cá nhân do Khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi
        trong quá trình cung cấp dịch vụ cho Khách hàng hoặc cho đến khi hoàn thành mục đích thu thập hoặc khi Khách
        hàng có yêu cầu hủy các thông tin đã cung cấp.
    </p>
</div>