<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">Tại sao nên sử dụng máy lọc nước kiềm</h1>
    <div class="bg-white shadow-md overflow-hidden">
        <img src="images/dasani-1.png" alt="Hình ảnh minh họa"
            class="w-60% h-[400px] mx-auto object-cover ">
        <div class="p-6">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Đăng bởi người dùng Tiến Đức vào ngày 13/05/2023</p>
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Nước đóng chai Dasani của Coca-Cola là một trong những sản phẩm nước uống đóng chai phổ biến nhất trên thị trường toàn cầu. Để đảm bảo chất lượng và sự an toàn của sản phẩm, Coca-Cola đã sử dụng công nghệ lọc của OSG Watertech để lọc nước trước khi đóng chai.</p>
            <img src="images/dasani-2.png" alt="Hình ảnh minh họa"
                class="w-60% h-[400px] mx-auto object-cover my-8">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Công nghệ lọc nước của OSG Watertech sử dụng màng lọc siêu mỏng và các vật liệu tổng hợp để loại bỏ các tạp chất và các chất độc hại có trong nước. Quá trình lọc nước này đảm bảo rằng nước được lọc sạch và an toàn cho sức khỏe con người..</p>
            
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Sau khi qua quá trình lọc, nước được đóng chai và phân phối trên toàn thế giới. Coca-Cola cam kết sử dụng các nguồn nước sạch và đảm bảo rằng sản phẩm của họ đáp ứng được các tiêu chuẩn chất lượng và an toàn của ngành thực phẩm. Sự kết hợp giữa công nghệ lọc nước của OSG Watertech và quy trình sản xuất chất lượng cao của Coca-Cola đảm bảo rằng nước đóng chai Dasani của họ là một sản phẩm nước uống sạch và an toàn cho người tiêu dùng.</p>
            
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Nước đóng chai Dasani của Coca-Cola không chỉ đảm bảo chất lượng và an toàn, mà còn có cam kết với môi trường. Coca-Cola đã cam kết phát triển các giải pháp xử lý nước và tái sử dụng nguồn tài nguyên nước để giảm thiểu tác động đến môi trường. Bên cạnh đó, công ty cũng cam kết sử dụng các vật liệu đóng gói thân thiện với môi trường và thực hiện các hoạt động tái chế để giảm thiểu lượng rác thải.</p>
            <img src="images/dasani-3.png" alt="Hình ảnh minh họa"
                class="w-60% h-[400px] mx-auto object-cover my-8">
                <img src="images/dasani-5.png" alt="Hình ảnh minh họa"
                class="w-60% h-[400px] mx-auto object-cover my-8">
                <img src="images/dasani-4.png" alt="Hình ảnh minh họa"
                class="w-60% h-[400px] mx-auto object-cover my-8">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Hiện nay cũng có nhiều nhãn hiệu nước đóng chai đã áp dụng công nghệ lọc tân tiến của OSG watertech:</p>
                
            <ul class="list-disc list-inside mb-4">
                <li class="text-gray-700 text-base mb-2">Một trong những nhà máy nước sử dụng công nghệ lọc của OSG Watertech là nhà máy xử lý nước thải của thành phố Sydney, Úc. Nhà máy này được xây dựng với công nghệ lọc nước siêu mỏng của OSG Watertech, giúp loại bỏ các tạp chất và các chất độc hại có trong nước thải. Quá trình xử lý nước thải này đã giúp tăng cường khả năng xử lý nước thải và giảm thiểu tác động đến môi trường.</li>
                <li class="text-gray-700 text-base mb-2">Ngoài ra, công nghệ lọc nước của OSG Watertech cũng được sử dụng trong nhà máy nước sạch tại thành phố Mumbai, Ấn Độ. Nhà máy này có khả năng sản xuất 3,2 triệu m3 nước sạch hàng ngày và cung cấp nước sạch cho hơn 15 triệu người. Công nghệ lọc nước của OSG Watertech đã giúp loại bỏ các chất độc hại và tạp chất có trong nước, đảm bảo rằng nước sạch được sản xuất và cung cấp cho người dân.</li>
                <li class="text-gray-700 text-base mb-2">Ngoài ra, công nghệ lọc nước của OSG Watertech cũng được sử dụng trong các nhà máy nước sạch tại Mỹ, Nhật Bản,Hàn Quốc, Trung Quốc và nhiều quốc gia khác trên thế giới. Các nhà máy này đều có khả năng sản xuất nước sạch đáp ứng các tiêu chuẩn chất lượng và an toàn của ngành thực phẩm. Công nghệ lọc nước của OSG Watertech đã giúp tăng cường khả năng xử lý nước sạch và đáp ứng nhu cầu ngày càng tăng về nước sạch trên toàn thế giới.</li>
                <li class="text-gray-700 text-base mb-2">Một trong những thương hiệu nước đóng chai sử dụng máy lọc của OSG Watertech là thương hiệu nước uống Evian. Evian là một thương hiệu nước uống nổi tiếng trên toàn thế giới và được sản xuất tại nhiều quốc gia. Để đảm bảo chất lượng và an toàn của sản phẩm, Evian đã sử dụng máy lọc của OSG Watertech để lọc nước trước khi đóngchai. Quá trình lọc nước này giúp loại bỏ các tạp chất và các chất độc hại có trong nước, đảm bảo rằng nước được lọc sạch và an toàn cho sức khỏe con người.</li>
                <li class="text-gray-700 text-base mb-2">Ngoài ra, thương hiệu nước đóng chai khác như Voss, Perrier, và Pellegrino cũng đã sử dụng công nghệ lọc nước của OSGWatertech để đảm bảo chất lượng sản phẩm của họ.</li>
            </ul>
            
        </div>
    </div>
    <div>
        <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

        <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tin tức thứ nhất -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                    <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                    <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ hai -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/nghe an 5.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</h2>
                    <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                    <a href="#!/tin-tuc/OSG-nghe-an" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ ba -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/OSG-1.png" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                    <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                    <a href="#!/tin-tuc/tap-doan-OSG" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
