<div class="container mx-auto pt-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">LỰA CHỌN HOÀN HẢO CHO KỲ NGHỈ DƯỠNG CỦA BẠN
    </h1>

    <div class="bg-white shadow-md overflow-hidden ">
        <p class="text-gray-600 text-base mb-4 p-6">Du lịch đã và đang trở thành một trong những hoạt động giải trí và
            khám phá phổ biến nhất khắp thế giới. Với mục tiêu thúc đẩy du lịch trở thành một trải nghiệm thú vị và độc
            đáo, chúng tôi - đội ngũ chuyên nghiệp tại DAIETSU cam kết mang đến những chuyến đi đáng nhớ và khác biệt
            cho khách hàng của mình.
        </p>
        <img src="images/du-lich-vip.jpg" style="height: 600px; width: 100%;" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover mx-6">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Lịch trình linh hoạt và đa dạng</h2>
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Thay vì những chuyến du lịch thuần túy với khung thời gian cố
                định, chúng tôi tin rằng việc đưa ra những sự lựa chọn đa dạng và linh hoạt sẽ tạo nên sự hài lòng tối
                đa cho khách hàng. Mỗi du khách có thể tự do lựa chọn địa điểm mua sắm, tham quan các điểm du lịch nổi
                tiếng, và tận hưởng những ngày nghỉ thoải mái tại các khu nghỉ dưỡng sang trọng. Bất kể là chuyến đi
                công tác, kỳ nghỉ gia đình, hay cuộc hẹn hò lãng mạn, chúng tôi sẽ nhiệt tình tư vấn và đồng hành cùng
                từng du khách để tạo ra một kế hoạch du lịch hoàn hảo và riêng biệt.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden "> <img src="images/du-lich-vip2.jpg" style="height: 600px; "
            alt="Hình ảnh minh họa" class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Đội ngũ thiết kế tour tận tâm</h2>
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Đội ngũ setup tour của chúng tôi có sự hiểu biết sâu rộng về
                du lịch và luôn luôn cập nhật những thông tin mới nhất về các điểm đến hấp dẫn tại xứ sở Phù Tang. Chúng
                tôi sẽ tư vấn cho du khách về thời gian lý tưởng, địa điểm hợp lý, và những hoạt động thú vị để khám phá
                và trải nghiệm. Đảm bảo rằng mọi nhu cầu đặc biệt của khách hàng sẽ được đáp ứng, hoạt động trải nghiệm
                danh lam thắng cảnh sẽ được bố trí không thể trộn lẫn với bất kỳ đơn vị tổ chức nào trên thế giới.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden "> <img src="images/du-lich-vip3.jpg" style="height: 600px; "
            alt="Hình ảnh minh họa" class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Hướng dẫn viên giàu kinh nghiệm</h2>
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Đồng hành trong tất cả hành trình du lịch của bạn là đội ngũ
                hướng dẫn viên và tài xế lâu năm. Họ là những người đặt nền móng đầu tiên cho ngành du lịch Việt Nam -
                Nhật Bạn và mang trong mình tình yêu và đam mê cháy bỏng với nghề. Với kinh nghiệm và hiểu biết về văn
                hóa địa phương, họ sẽ truyền đạt những kiến thức và chia sẻ những câu chuyện thú vị về vùng đất mà du
                khách đang đặt chân đến. Bạn sẽ đi hết từ ngạc nhiên này đến ngạc nhiên khác với những câu chuyện thú
                vị, điều mà chỉ những người sống lâu năm ở Nhật mới có đủ vốn hiểu biết. Ngoài ra, hướng dẫn viên từ
                công ty luôn sẵn lòng giúp đỡ và hỗ trợ mọi thắc mắc của du khách, tạo nên một không gian thân thiện và
                an lành trong suốt hành trình.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden ">
        <img src="images/du-lich-vip4.jpg" style="height: 800px; " alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Tin rằng du lịch là một cơ hội tuyệt vời để kết nối con người
                và khám phá những vùng đất mới, chúng tôi tự hào tạo ra những kỷ niệm ấn tượng, mang đến cho mỗi du
                khách trải nghiệm du lịch tuyệt vời nhất. Hãy đồng hành cùng công ty dịch vụ du lịch ABC để khám phá và
                tận hưởng những khoảnh khắc đáng nhớ trong hành trình nghỉ dưỡng của bạn!
            </p>
        </div>
    </div>

</div>

<section class=" z-10 relative   pb-20">
    <div class="container mx-auto bg-white pb-16">
        <div class="h-36 w-full bg-gradient-to-r from-yellow-400 via-amber-400 to-amber-600 pb-1">
            <div class="flex h-full w-full items-center justify-center bg-white back">
                <h1 id="DichVu"
                    class="text-[30px] md:text-[45px]  leading-[52.73px] font-medium text-center md:p-5  text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-amber-500">
                    Liên hệ tư vấn
                </h1>
            </div>
        </div>
    </div>


    <div class="bg-[url('images/contact.jpg')] shadow-lg container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 py-6 bg-cover" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="mx-auto text-white ">

                <h1 class="md:text-4xl font-bold text-2xl md:text-4xl">Bạn muốn tìm hiểu về chúng tôi?</h1>
                <div class="text-lg my-3 mt-6 font-medium md:text-2xl md:mx-6 md:my-10">- Phản hồi nhanh</div>
                <div class="text-lg my-3 font-medium md:text-2xl md:mx-6 md:my-10">- Tư vấn tận tình</div>
                <div class="text-lg mt-3 mb-6 font-medium md:text-2xl md:mx-6 md:my-10">- Hoàn toàn miễn phí</div>


                <div
                    class="text-lg mt-3 mb-6 font-medium md:text-3xl mt-32 bg-amber-600 p-3 border-t-2 border-white hidden md:block shadow-lg">
                    Tư vấn trực tiếp</div>
                <div class="text-lg mt-3 mb-6 font-medium md:text-3xl  hidden md:block">Điện Thoại: (+81) 0489-762-3375
                </div>

            </div>


            <div class=" bg-white w-[90%] md:w-[500px] px-4 py-8 rounded-xl shadow-lg mx-auto ">
                <div ng-if="alert==true"
                    class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-400 bg-green-100  fixed z-50 top-40 right-3 rounded-md ">
                    <div class="ml-3 text-md font-medium">
                        Gửi thông tin thành công! Chúng tôi sẽ phản hồi sớm.
                    </div>
                    <button type="button" ng-click="dissAlert()"
                        class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-600 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 ">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>


                <h1 class="text-3xl font-bold">Liên hệ</h1>
                <div class="my-3 flex flex-col ">
                    <label for="" class="form-label">Họ và tên</label>
                    <input type="text" ng-model="ten" placeholder=""
                        ng-class="{ 'border-2 border-green-400': check.ten == false && ten , 'border-2 border-red-300': check.ten == true}"
                        class="p-1 border border-gray-400 rounded-md focus:outline-none focus:border-2 focus:border-amber-500 ">
                    <div ng-show="check.ten" class="text-red-500">Vui lòng nhập họ và tên!</div>
                </div>
                <div class="my-3 flex flex-col">
                    <label for="" class="form-label">Email</label>
                    <input type="text" ng-model="email" placeholder=""
                        ng-class="{ 'border-2 border-green-400': check.email == false && email , 'border-2 border-red-300': check.email == true}"
                        class="p-1 border border-gray-400 rounded-md focus:outline-none focus:border-2 focus:border-amber-500 ">
                    <div ng-show="check.email" class="text-red-500">Nhập email điện thoại hợp lệ!</div>
                </div>
                <div class="my-3 flex flex-col">
                    <label for="" class="form-label">Phone</label>
                    <input type="text" ng-model="sdt" placeholder=""
                        ng-class="{ 'border-2 border-green-400': check.sdt == false && sdt , 'border-2 border-red-300': check.sdt == true}"
                        class="p-1 border border-gray-400 rounded-md focus:outline-none focus:border-2 focus:border-amber-500 ">
                    <div ng-show="check.sdt" class="text-red-500">Nhập số điện thoại hợp lệ!</div>
                </div>
                <div class="my-3 flex flex-col">
                    <label for="" class="form-label">Dịch vụ</label>
                    <select type="text" ng-model="dichvu"
                        ng-class="{ 'border-2 border-green-400': check.dichvu == false && dichvu , 'border-2 border-red-300': check.dichvu == true}"
                        class="p-1 border border-gray-400 rounded-md focus:outline-none focus:border-2 focus:border-amber-500 ">
                        <option value="">-- Chọn dịch vụ --</option>
                        <option value="Du lịch VIP">Du lịch vip</option>
                        <option value="Du lịch khám bệnh">Du lịch khám bệnh</option>
                        <option value="Du lịch khám bệnh">Dịch vụ Visa</option>
                        <option value="Du lịch khám bệnh">Dịch vụ đặt hàng</option>

                    </select>
                    <div ng-show="check.dichvu" class="text-red-500">Vui lòng chọn dịch vụ!</div>
                </div>
                <div class="my-3 flex flex-col">
                    <label for="" class="form-label">Nội dung</label>
                    <textarea type="text" ng-model="noidung" placeholder="VD: Tôi muốn tìm hiểu về du lịch khám bệnh"
                        ng-class="{ 'border-2 border-green-400': check.noidung == false && noidung , 'border-2 border-red-300': check.noidung == true}"
                        class="border border-gray-400 rounded-md focus:outline-none focus:border-2 focus:border-amber-500 p-1 h-32"></textarea>
                    <div ng-show="check.noidung" class="text-red-500">Vui lòng nhập nội dung!</div>
                </div>
                <div class="flex">
                    <button type="button"
                        class="bg-amber-500 rounded-lg text-lg text-white py-2 px-8 font-semibold hover:bg-amber-600"
                        ng-click="submit()">Gửi</button>

                </div>
            </div>
        </div>
    </div>


</section>

<div class="mb-10 container mx-auto">
    <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

    <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
        <!-- Tin tức thứ nhất -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe
                    của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc
                    kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
        <!-- Tin tức thứ hai -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/nghe an 5.jpg" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An
                </h2>
                <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư
                    Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước
                    tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                <a href="#!/tin-tuc/OSG-nghe-an"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
        <!-- Tin tức thứ ba -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/OSG-1.png" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh
                    vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt
                    kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                <a href="#!/tin-tuc/tap-doan-OSG"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
    </div>
</div>