<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">Trải nghiệm Tour du lịch khám bệnh tại Nhật Bản với chi phí phù hợp</h1>
    <div class="bg-white shadow-md overflow-hidden">
        <img src="images/du-lich-kham-benh.jpg" alt="Hình ảnh minh họa"
            class="w-90% h-[400px] mx-auto object-cover ">
        <div class="p-6">
            <p class="text-gray-700 text-base mb-4">Theo ước tính của chính phủ Nhật, năm 2020 sẽ có khoảng 430.000 người đến Nhật Bản cho mục đích du lịch chữa bệnh. Quy mô thị trường ước đạt 550 tỷ yên, tương đương 5 tỷ đô la Mỹ. Đây là một con số vô cùng ấn tượng mà bất cứ nền kinh tế nào cũng mong muốn. Chính vì lẽ đó, chính phủ và ngành y tế Nhật đang có những bước tiến lớn trong việc phát triển cơ sở hạ tầng và các nền tảng y tế để đáp ứng được nhu cầu ngày càng tăng của du khách, xứng là điểm đến tin cậy cho chương trình du lịch khám chữa bệnh.
                <br><br>1. Bộ Kinh Tế và cục Du Lịch đang kết hợp để tổng điều tra về thị trường, để lập thành phương án phát triển toàn diện thị trường du lịch khám bệnh tại Nhật.
                
                <br><br>2. Các công ty lữ hành top đầu của Nhật Bản như tập đoàn JTB, tập đoàn Nankai, Nipponryoko… đã mở bán các tour du lịch khám bệnh và chuẩn bị thêm các cơ sở vật chất liên quan đến y tế để phục vụ khách hàng.
                <br><br>
                3. Các hãng bảo hiểm đã mở bán các gói bảo hiểm tai nạn cho khách nước ngoài, đặt trung tâm là các bảo hiểm tai biến y khoa.
                
                <br><br>4. Bộ Kinh Tế của Nhật đã thành lập tổ chức Medical Excellence Japan (MEJ) để chuyên lo về nghiệp vụ inbound hỗ trợ các khách du lịch chữa bệnh.
                
                <br><br>5. Bộ Hậu Sinh Lao Động đã đề xuất Chế độ chứng nhận cơ quan y tế cho những nơi đủ điều kiện cơ sở vật chất và cơ sở hạ tầng để nhận khám chữa bệnh cho khách du lịch nước ngoài.
                
                <br><br>6. Tổ chức MEJ đã đề xuất chứng nhận Bệnh Viện Quốc Tế Nhật Bản để cấp cho những bệnh viện có thành quả thực thụ trong việc chữa trị cho khách nước ngoài.
                </p>
            <img src="images/du-lich-kham-benh-1.jpg" alt="Hình ảnh minh họa"
                class="w-60% h-[400px] mx-auto object-cover my-8">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Các vấn đề bất cập phía cơ quan y tế trong các tour du lịch chữa bệnh</h2>

            <p class="text-gray-700 text-base mb-4">1. Có nhiều cơ quan y tế lợi dụng sự thiếu thông tin của khách hàng để tùy tiện quảng cáo quá mức so với năng lực của họ, nhằm lôi kéo khách hàng cho mình.
                
                <br><br>2. Có nhiều cơ sở mạo xưng danh tiếng của những cơ sở lớn, lén lút thực hiện những liệu trình y tế mà mình không được phép làm.
                
                <br><br>3. Các cơ sở y tế lấn sân sang lĩnh vực du lịch một cách phi pháp.
                
                <br><br>4. Các vấn đề liên quan đến tiền bạc (thu quá cao hoặc cố ý thu sai). Các vấn đề đối ứng với ngôn ngữ, văn hóa, tôn giáo của khách nước ngoài…</p>
            
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Các vấn đề liên quan đến người điều phối y tế, công ty du lịch</h2>
            <p class="text-gray-700 text-base mb-4">1. Không giải thích đúng và đủ về các điều khoản trong hợp đồng

                <br><br>2. Chưa đảm bảo được khả năng đối ứng của khách du lịch khi gặp vấn đề kiện tụng hoặc tai biến y khoa.
                
                <br><br>3. Người thông dịch cho khách không có kinh nghiệm y tế.
                
                <br><br>4. Hợp đồng ban đầu khác với thực tế các bệnh viện hoặc cơ sở vật chất và máy móc khám chữa bệnh.
                
                <br><br>5. Những nơi không có tư cách pháp nhân vẫn làm càn.</p>
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Vì sao chọn Daietsu cho chương trình khám bệnh tại Nhật của bạn</h2>
            
            <p class="text-gray-700 text-base mb-4">Daietsu hiểu rõ các tiềm năng phát triển của thị trường, các vấn đề tồn đọng kể trên, chúng tôi cũng thấu hiểu những nỗi lo của người muốn sử dụng dịch vụ du lịch Nhật Bản kết hợp khám chữa bệnh. Vì thế, chúng tôi cam kết mang lại cho quý khách hàng dịch vụ du lịch khám chữa bệnh tại Nhật Bản với sự uy tín ngoài mong đợi. Quý khách hàng có thể hoàn toàn an tâm chọn Daietsu cho chương trình thăm khám sức khỏe quý báu của mình vì những lý do dưới đây:

                <br><br>– Daietsu có thâm niên hoạt động trong lĩnh vực du lịch khám bệnh, là công ty uy tín lâu năm được nhiều người tin dùng.
                
                <br><br>– Daietsu có mạng lưới liên kết với các cơ quan y tế Nhật Bản đạt chuẩn khám bệnh quốc tế.
                
                <br><br>– Daietsu có đội ngũ nhân viên người Việt, nhiệt tình tư vấn cho quý khách hàng tất cả các điều khoản dịch vụ. Đối với khách hàng và các đối tác là cơ sở y tế tại Nhật, Daietsu đứng về phía khách hàng để bảo vệ quyền lợi cho khách tốt nhất.
                
                <br><br>– Daietsu liên kết với Euro-America Asia Language Center of Japan , một trung tâm ngôn ngữ có hơn 800 nhân viên và khả năng đối ứng 40 ngôn ngữ trong hầu hết các lĩnh vực, bao gồm lĩnh vực y tế.
                
                <br><br>– Daietsu sẵn sàng cung cấp cho quý khách hàng dịch vụ tốt nhất với mức giá hợp lý nhất.</p>
                
        </div>
    </div>
    <div>
        <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

        <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tin tức thứ nhất -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                    <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                    <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ hai -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/nghe an 5.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</h2>
                    <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                    <a href="#!/tin-tuc/OSG-nghe-an" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ ba -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/OSG-1.png" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                    <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                    <a href="#!/tin-tuc/tap-doan-OSG" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
