<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">Tour Du Lịch Nhật Bản - Bao trọn dịch vụ, chi phí cạnh tranh
    </h1>
    <div class="bg-white shadow-md overflow-hidden"> <img src="images/du-lich-vip.jpg" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <p class="text-gray-700 text-base mb-4"> </p>
            <img src="images/du-lich-mua-thu.jpg" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Tour mùa Xuân – Hoa Anh Đào</h2>
            <p class="text-gray-700 text-base mb-4 ">Tour mùa Xuân – Hoa Anh Đào sẽ đưa du khách đến các điểm đến nổi
                tiếng của Nhật Bản như Tokyo, Kyoto và Osaka. Du khách sẽ được tham quan các công trình kiến trúc lịch
                sử, vườn hoa anh đào rực rỡ, nghỉ dưỡng tại các khu nghỉ dưỡng cao cấp và thưởng thức ẩm thực truyền
                thống Nhật Bản. Tour sẽ kéo dài trong 7 ngày 6 đêm và được tổ chức vào tháng 3-4 hàng năm.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden"> <img src="images/du-lich-mua-thu.jpg" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Tour mùa Thu – Lá Đỏ</h2>
            <p class="text-gray-700 text-base mb-4">Tour mùa Thu – Lá Đỏ sẽ đưa du khách đến các điểm du lịch nổi tiếng
                của Nhật Bản như Tokyo, Hakone, Kyoto và Hiroshima. Du khách sẽ được tham quan các công trình kiến trúc
                lịch sử, nghỉ dưỡng tại các khu nghỉ dưỡng đẹp và tham gia các hoạt động ngoài trời. Tour sẽ kéo dài
                trong 9 ngày 8 đêm và được tổ chức vào tháng 10-11 hàng năm.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden"> <img src="images/du-lich-mua-he.jpg" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Tour mùa Hè – Lễ Hội</h2>
            <p class="text-gray-700 text-base mb-4">Tour mùa Hè – Lễ Hội sẽ đưa du khách đến các điểm đến nổi tiếng của
                Nhật Bản như Tokyo, Kyoto và Osaka. Du khách sẽ được tham gia các lễ hội truyền thống, thưởng thức ẩm
                thực địa phương và khám phá các công trình kiến trúc độc đáo. Tour sẽ kéo dài trong 8 ngày 7 đêm và được
                tổ chức vào tháng 7-8 hàng năm.</p>
        </div>
    </div>
    <div class="bg-white shadow-md overflow-hidden"> <img src="images/du-lich-mua-dong.jpg" alt="Hình ảnh minh họa"
            class="w-[1000px] mx-auto object-cover">
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Tour mùa Đông – Tuyết</h2>
            <p class="text-gray-700 text-base mb-4">Tour mùa Đông – Tuyết sẽ đưa du khách đến các điểm đến nổi tiếng của
                Nhật Bản như Tokyo, Hakuba và Nagano. Du khách sẽ được trải nghiệm các hoạt động trượt tuyết, khám phá
                các công trình kiến trúc độc đáo và thưởng thức ẩm thực địa phương. Tour sẽ kéo dài trong 7 ngày 6 đêm
                và được tổ chức vào tháng 12-2 hàng năm.</p>
        </div>
    </div>

</div>
</div>
<div>
    <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

    <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Tin tức thứ nhất -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe
                    của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc
                    kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
        <!-- Tin tức thứ hai -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/nghe an 5.jpg" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An
                </h2>
                <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư
                    Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước
                    tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                <a href="#!/tin-tuc/OSG-nghe-an"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
        <!-- Tin tức thứ ba -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
            <img src="images/OSG-1.png" alt="News Image" class="w-full h-56 object-cover">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh
                    vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt
                    kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                <a href="#!/tin-tuc/tap-doan-OSG"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Đọc tiếp
                </a>
            </div>
        </div>
    </div>
</div>

<form action="" class="bg-sky-400">
    <h1>Liên hệ</h1>
    <div class="my-3">
        <label for="">Tên</label>
        <input type="text" ng-model="ten">
    </div>
    <div class="my-3">
        <label for="">Email</label>
        <input type="text" ng-model="email">
    </div>
    <div class="my-3">
        <label for="">sdt</label>
        <input type="text" ng-model="sdt">
    </div>
    <div class="my-3">
        <label for="">nội dung</label>
        <input type="text" ng-model="noidung">
    </div>
    <button type="button" class=" bg-white" ng-click="sendEmail()">submit</button>
</form>

</div>