<section id="Slider" class=" container mx-auto pt-[1px]">
    <div class="aspect-ratio-169  shadow-xl">
        <a href="#!/may-loc-nuoc/may-loc-nuoc-kiem-HU-150"><img src="images/HU-150-banner.jpg"
                class="object-cover bg-gray-100" alt="Ảnh của bài viết / sản phẩm 1"></a>
        <a href="#!/tin-tuc/tap-doan-OSG"><img src="images/OSG-banner.png" class="object-cover bg-gray-100"
                alt="Ảnh của bài viết / sản phẩm 2"></a>
        <a href="#!/may-loc-nuoc/may-loc-nuoc-kiem-NDX-501LM"><img src="images/NDX-501LM-banner.png"
                class="object-cover bg-gray-100" alt="Ảnh của bài viết / sản phẩm 3"></a>




    </div>
    <div class="right_slider" class=""></div>
    <div class="left_slider" class=""></div>

    <div class="dot-container ">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>

    </div>
</section>



<section class="z-10 relative md:pb-10  "  id="dichvu">
    <div class="container mx-auto pt-3 px-5 ">
        <div class="h-36 w-full bg-gradient-to-r from-yellow-400 via-amber-400 to-amber-600 pb-1 mb-16">
            <div class="flex h-full w-full items-center justify-center bg-gray-100 back">
                <h1 id="DichVu"
                    class="text-[30px] md:text-[45px]  leading-[52.73px] font-medium text-center md:p-5  text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-amber-500">
                    Dịch Vụ Của Chúng Tôi
                </h1>
            </div>
        </div>


        <div class="grid  gird-cols-1 gap-10 md:gap-5 ">


            <div class="group shadow-lg bg-gradient-to-tr from-rose-200 via-pink-400 to-fuchsia-500 ">
                <a href="#!/dich-vu/du-lich-vip">
                    <div class=" gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group ">
                            <img class="md:h-[450px] h-[280px] object-cover w-[900px] h-full"
                                src="images/du-lich-vip.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href=""
                                class=" md:text-right  font-semibold text-[40px]   text-white border-b-4 border-white pb-5">
                                Tour Du Lịch VIP</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white md:text-right">
                                    Du lịch đã và đang trở thành một trong những hoạt động giải trí và khám phá phổ biến nhất khắp thế giới. Với mục tiêu thúc đẩy du lịch trở thành một trải nghiệm thú vị và độc đáo, chúng tôi - đội ngũ chuyên nghiệp tại DAIETSU cam kết mang đến những chuyến đi đáng nhớ và khác biệt cho khách hàng của mình.
                                </p>
                            </div>
                        </div>
                    </div>

                </a>
            </div>

            <div class="group shadow-lg bg-gradient-to-br from-rose-300 via-red-400 to-yellow-300">
                <a href="#!/dich-vu/chuyen-phat">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group md:hidden">
                            <img class="md:h-[450px] h-[280px] object-fill" src="images/chuyen-phat.jpg"
                                alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" font-semibold text-[40px]  text-white border-b-4 border-white pb-5">
                                Dịch Vụ Đặt
                                Hàng Nhật - Việt</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white ">
                                    Khi nhắc đến Nhật Bản, nhiều người sẽ nghĩ ngay đến các sản phẩm mỹ phẩm và đồ điện tử chất lượng cao. Tuy nhiên đừng quên đất nước này còn có nhiều mặt hàng nổi tiếng khác như đồ gia dụng, vật liệu cơ khí, máy móc công nghiệp, dụng cụ âm nhạc, thiết bị y tế, hay thậm chí là những vật phẩm khổ lớn như máy phát điện và thú cưng thuần chủng.
                                </p>
                            </div>
                        </div>
                        <div class="block relative overflow-hidden group hidden md:block">
                            <img class="md:h-[450px] h-[280px] object-fill" src="images/chuyen-phat.jpg"
                                alt="chưa có ảnh" />
                        </div>
                    </div>
                </a>
            </div>

            <div class="group shadow-lg bg-gradient-to-tr from-lime-500 via-orange-400 to-orange-300">
                <a href="#!/dich-vu/du-lich-kham-benh">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group ">
                            <img class="md:h-[450px] h-[280px] object-cover  w-[900px] h-full"
                                src="images/du-lich-kham-benh.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href=""
                                class=" md:text-right  font-semibold text-[40px]   text-white border-b-4 border-white pb-5">
                                Du
                                Lịch Khám Bệnh</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white md:text-right">
                                    Nhật Bản có nền y tế hiện đại và phát triển hàng đầu thế giới, với đội ngũ bác sỹ
                                    tài
                                    giỏi, cùng những máy móc y khoa tối tân. Vì vậy chúng tôi đã liên kết với nhiều bệnh
                                    viện hàng
                                    đầu của Nhật Bản, cùng với dịch vụ phiên dịch y tế chuyên nghiệp tận tâm, để quý
                                    khách
                                    có thể vừa đi du lịch vừa có thể sử dụng dịch vụ y tế Nhật cho nhu cầu khám chữa
                                    bệnh, với chi phí phải chăng và hợp lý. Daietsu tự hào là một trong những công ty đi
                                    đầu
                                    trong lĩnh vực du lịch Nhật Bản kết hợp khám chữa bệnh
                                </p>
                            </div>
                        </div>
                    </div>

                </a>
            </div>

            <div class="group shadow-lg bg-gradient-to-br from-lime-400 via-emeral-200 to-blue-400">
                <a href="#!/dich-vu/dich-vu-visa">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group md:hidden">
                            <img class="md:h-[450px] h-[280px] object-cover" src="images/visa-nhat-ban.jpg"
                                alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" font-semibold text-[40px]  text-white border-b-4 border-white pb-5">
                                Dịch Vụ Visa
                            </div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white ">
                                    Daietsu có kinh nghiệm lâu năm trong việc cung cấp dịch vụ xin visa du lịch Nhật
                                    Bản, cho các đối tác là công ty dịch vụ lữ hành tại Việt Nam, với tỉ lệ cao và chi
                                    phí thấp nhất.
                                </p>
                            </div>
                        </div>
                        <div class="block relative overflow-hidden group hidden md:block">
                            <img class="md:h-[450px] h-[280px] object-cover" src="images/visa-nhat-ban.jpg"
                                alt="chưa có ảnh" />
                        </div>
                    </div>
                </a>
            </div>

            <div class="group shadow-lg bg-gradient-to-tr from-sky-300 via-teal-400 to-blue-400">
                <a href="#!/osg-water">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group">
                            <img class="md:h-[450px] h-[280px] object-fill" src="images/OSG-banner.png"
                                alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2 md:text-right">
                            <div href="" class=" font-semibold  text-[40px]  text-white border-b-4 border-white pb-5">
                                Máy Lọc Nước OSG Water</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white ">
                                    Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản
                                    xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng
                                    cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...
                                </p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>

        </div>
</section>








<section class="shadow-xl  z-10 relative ">
    <div class="container mx-auto md:pt-8 px-5 ">
        <div class="h-36 w-full bg-gradient-to-r from-yellow-400 via-amber-400 to-amber-600 pb-1 mb-16">
            <div class="flex h-full w-full items-center justify-center bg-gray-100 back">
                <h1 id="DichVu"
                    class="text-[30px] md:text-[45px]  leading-[52.73px] font-medium text-center md:p-5  text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-amber-500">
                    Daietsu - Chúng Tôi Là Ai
                </h1>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2  gap-10  pb-36">
            <div class=" group mx-auto bg-white rounded-lg shadow-lg">
                <a href="#!/tin-tuc/tap-doan-OSG">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="h-[280px] w-[400px] md:h-[350px] md:w-[600px] object-cover rounded-t-lg"
                            src="images/OSG-1.png" alt="chưa có ảnh" />
                    </div>
                    <span class="pl-6 py-6">
                        <a href="" class="font-medium text-[22px] leading-[21.79px] group-hover:text-sky-500">OSG, Tập
                            đoàn hàng đầu Nhật Bản!</a>
                        <div class="flex justify-between  w-[400px]  md:w-[600px] p-6 pt-2">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500">
                                Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất
                                và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt
                                kim loại, và các sản phẩm liên quan đến công nghiệp...

                            </p>
                        </div>
                    </span>
                </a>
            </div>

            <div class=" group  mx-auto bg-white rounded-lg shadow-lg">
                <a href="#!/tin-tuc/hop-dong">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="h-[280px] w-[400px] md:h-[350px]  md:w-[600px]  object-cover rounded-t-lg"
                            src="images/EPSON045-2.png" alt="chưa có ảnh" />
                    </div>
                    <span class="pl-6 py-6">
                        <a href="#!/tin-tuc/hop-dong" class="font-medium text-[22px] leading-[21.79px] group-hover:text-sky-500">OSG
                            Watertech đã có mặt tại Việt Nam</a>
                        <div class="flex justify-between  w-[400px]  md:w-[600px] p-6 pt-2">
                            <a href="#!/tin-tuc/hop-dong" class="font-medium text-[16px] leading-[21.79px] text-gray-500">
                                OSG Watertech là một công ty chuyên sản xuất các giải pháp xử lý nước thải và nước sạch,
                                và công ty này đã đạt được các chứng nhận ISO 13458:2016 và ISO EN13458:2016. Hiện nay
                                OSG Watertech đã kí kết thỏa thuân hợp tác với Daietsu mở ra con đường cho các công nghệ
                                hàng đầu...
                            </a>
                        </div>
                    </span>
                </a>
            </div>
            <a href="#!/tin-tuc"
                class="py-2 mb-20 px-3 text-lg font-medium rounded-md bg-amber-400  text-white absolute bottom-[-15px] left-[46%]">Tìm hiểu thêm</a>

        </div>
        

</section>