<section id="Slider" class="shadow-xl container mx-auto shadow-xl">
    <div class="aspect-ratio-169">
        <a href="#!/may-loc-nuoc/may-loc-nuoc-kiem-HU-150"><img src="images/HU-150-banner.jpg"
                class="object-cover bg-gray-200" alt="Ảnh của bài viết / sản phẩm 1"></a>
        <a href="#!/tin-tuc/tap-doan-OSG"><img src="images/OSG-banner.png" class="object-cover bg-gray-200"
                alt="Ảnh của bài viết / sản phẩm 2"></a>
        <a href="#!/may-loc-nuoc/may-loc-nuoc-kiem-NDX-501LM"><img src="images/NDX-501LM-banner.png"
                class="object-cover bg-gray-200" alt="Ảnh của bài viết / sản phẩm 3"></a>




    </div>
    <div class="right_slider" class=""></div>
    <div class="left_slider" class=""></div>

    <div class="dot-container ">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>

    </div>
</section>





<section class="hover:shadow-xl  z-10 relative md:py-10  md:mt-6 ">
    <div class="container mx-auto md:pt-16 px-5 pb-20">
        <h1
            class=" text-[30px] md:text-[45px] leading-[52.73px] font-medium text-center p-5 mb-16 text-sky-500 border-b-2 border-sky-500 pb-6">
            Sản Phẩm Mới - Chiết Khấu Ưu Đãi
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-10 ">
            <div class="md:mb-8 group mx-auto " ng-repeat="ds in danhsach | limitTo: soSanPhamHienThi()"
                ng-click="scrollUp()">
                <a href="#!/may-loc-nuoc/{{ds.link}}">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="h-[280px] md:h-[450px] w-[350px] border border-gray-400 object-cover"
                            src="{{ds.image[0]}}" alt="chưa có ảnh" />
                    </div>
                    <span>
                        <p href=""
                            class="font-medium text-[18px] md:text-[22px] leading-[21.79px] group-hover:text-sky-500">
                            {{ds.ten}}</p>
                        <div class="flex justify-between">
                            <p class="font-medium text-[20px] leading-[21.79px] text-sky-500 mt-1">
                                {{ds.gia}}
                            </p>
                        </div>
                    </span>
                </a>
            </div>


            <a href="#!/may-loc-nuoc"
                class="py-2 px-3 text-lg font-medium rounded-md bg-sky-500 text-white absolute bottom-10 left-[48%]">Xem
                thêm</a>

        </div>



    </div>
</section>

<section class="z-10 relative md:py-10 ">
    <div class="container mx-auto pt-8 px-5 pb-10">
        <h1
            class="text-[30px] md:text-[45px]  leading-[52.73px] font-medium text-center md:p-5 mb-16 text-sky-500 border-b-2 border-sky-500 pb-6">
            Vì Sao Nên Dùng Máy Lọc Nước Kiềm

        </h1>

        <div class="grid  md:grid-cols-3 gap-10 ">
            <div class="mb-8 group hover:shadow-lg pb-6">
                <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="md:h-[350px] h-[280px] md:w-[550px] border border-gray-400 object-cover "
                            src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="chưa có ảnh" />
                    </div>
                    <div class="mx-3">
                        <div href="" class=" font-medium text-[22px] leading-[21.79px] mt-2 group-hover:text-sky-500">
                            Tác
                            dụng của máy lọc nước kiềm</div>
                        <div class="flex justify-between">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500 ">
                                Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con
                                người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính
                                hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="mb-8 group hover:shadow-lg pb-6">
                <a href="#!/tin-tuc/dasani">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="w-[400px] md:h-[350px] h-[280px] md:w-[550px] border border-gray-400 object-cover "
                            src="images/dasani-1.png" alt="chưa có ảnh" />
                    </div>
                    <div class="mx-3">
                        <div href="" class=" font-medium text-[22px] leading-[21.79px] mt-2 group-hover:text-sky-500">Bí
                            quyết để tạo ra nước đóng chai Dasani - Coca-cola</div>
                        <div class="flex justify-between">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500 ">
                                Nước đóng chai Dasani của Coca-Cola là một trong những sản phẩm nước uống đóng chai phổ
                                biến nhất trên thị trường toàn cầu. Để đảm bảo chất lượng và sự an toàn của sản phẩm,
                                Coca-Cola đã sử dụng công nghệ lọc của OSG Watertech để...
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="mb-8 group hover:shadow-lg pb-6">
                <a href="#!/tin-tuc/OSG-nghe-an">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="md:h-[350px] h-[280px] md:w-[550px] border border-gray-400 object-cover "
                            src="images/nghe an 5.jpg" alt="chưa có ảnh" />
                    </div>
                    <div class="mx-3">
                        <div href="" class=" font-medium text-[22px] leading-[21.79px] mt-2 group-hover:text-sky-500">
                            Công
                            nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</div>
                        <div class="flex justify-between">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500 ">
                                Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ
                                An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh
                                khiết, có nhiều khoáng chất quý giá, người dân sử dụng...
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <a href="#!/tin-tuc"
                class="py-2 px-3 text-lg font-medium rounded-md bg-sky-500 text-white absolute bottom-10 left-[48%]">Đọc
                thêm</a>
</section>






<section class="z-10 relative md:py-10  ">
    <div class="container mx-auto pt-8 px-5 ">
        <h1 id="DichVu"
            class="text-[30px] md:text-[45px]  leading-[52.73px] font-medium text-center md:p-5 mb-16 text-sky-500 border-b-2 border-sky-500 pb-6">
            Dịch Vụ Của Chúng Tôi

        </h1>

        <div class="grid  gird-cols-1 gap-10 ">


            <div class="group hover:shadow-lg bg-teal-400">
                <a href="#!/tin-tuc/du-lich-vip">
                    <div class=" gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group ">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-cover w-[900px] h-full"
                                src="images/du-lich-vip.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" md:text-right  font-semibold text-[40px]   text-white border-b-4 border-white pb-5">
                                Tour Du Lịch VIP</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white md:text-right">
                                    Daietsu luôn nhanh chóng nắm bắt xu thế thời đại trong việc thiết kế các tour du lịch
                                    Nhật Bản, chúng tôi hiểu rất rõ phong tục tập quán và các tin tức về Nhật Bản, để
                                    quý khách có thể khám phá Nhật Bản với nhiều điều thú vị và đặc sắc mà không
                                    trùng lắp với bất cứ công ty nào khác. Trải nghiệm du lịch Nhật Bản bằng dịch vụ chúng tôi, chắc chắn sẽ mang đến cho bạn những kỷ niệm đáng nhớ và xứng đáng với chi phí
                                    hợp lý nhất.
                                </p>
                            </div>
                        </div>
                    </div>

                </a>
            </div>

            <div class="group hover:shadow-lg bg-cyan-500">
                <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group md:hidden">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-fill"
                                src="images/chuyen-phat.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" font-semibold text-[40px]  text-white border-b-4 border-white pb-5">Dịch Vụ Đặt
                                Hàng Nhật - Việt</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white ">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="block relative overflow-hidden group hidden md:block">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-fill"
                                src="images/chuyen-phat.jpg" alt="chưa có ảnh" />
                        </div>
                    </div>
                </a>
            </div>

            <div class="group hover:shadow-lg bg-sky-400">
                <a href="#!/tin-tuc/du-lich-kham-benh">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group     ">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-cover  w-[900px] h-full"
                                src="images/du-lich-kham-benh.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" md:text-right  font-semibold text-[40px]   text-white border-b-4 border-white pb-5">Du
                                Lịch Khám Bệnh</div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white md:text-right">
                                    Nhật Bản có nền y tế hiện đại và phát triển hàng đầu thế giới, với đội ngũ bác sỹ tài
                                    giỏi, cùng những máy móc y khoa tối tân. Vì vậy chúng tôi đã liên kết với nhiều bệnh
                                    viện hàng
                                    đầu của Nhật Bản, cùng với dịch vụ phiên dịch y tế chuyên nghiệp tận tâm, để quý
                                    khách
                                    có thể vừa đi du lịch vừa có thể sử dụng dịch vụ y tế Nhật cho nhu cầu khám chữa
                                    bệnh, với chi phí phải chăng và hợp lý. Daietsu tự hào là một trong những công ty đi
                                    đầu
                                    trong lĩnh vực du lịch Nhật Bản kết hợp khám chữa bệnh
                                </p>
                            </div>
                        </div>
                    </div>

                </a>
            </div>

            <div class="group hover:shadow-lg bg-blue-400">
                <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem">
                    <div class="gird grid-cols-1 md:grid-cols-2 md:flex">
                        <div class="block relative overflow-hidden group md:hidden">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-cover"
                                src="images/visa-nhat-ban.jpg" alt="chưa có ảnh" />
                        </div>
                        <div class="m-8 md:w-1/2">
                            <div href="" class=" font-semibold text-[40px]  text-white border-b-4 border-white pb-5">Dịch Vụ Visa
                            </div>
                            <div class="mt-8">
                                <p class=" text-[22px] text-white ">
                                    Daietsu có kinh nghiệm lâu năm trong việc cung cấp dịch vụ xin visa du lịch Nhật
                                    Bản, cho các đối tác là công ty dịch vụ lữ hành tại Việt Nam, với tỉ lệ cao và chi
                                    phí thấp nhất.
                                </p>
                            </div>
                        </div>
                        <div class="block relative overflow-hidden group hidden md:block">
                            <img class="md:h-[450px] h-[280px] border border-gray-400 object-cover"
                                src="images/visa-nhat-ban.jpg" alt="chưa có ảnh" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
</section>








<section class="shadow-xl  z-10 relative md:pt-10 ">
    <div class="container mx-auto md:pt-8 px-5 ">
        <h1
            class="text-[45px] leading-[52.73px] font-medium text-center p-5 mb-16 text-sky-500 border-b-2 border-sky-500  pb-6">
            Công Ty Chúng Tôi
        </h1>

        <div class="grid grid-cols-1 md:grid-cols-2  gap-10 ">
            <div class=" group mx-auto">
                <a href="#!/tin-tuc/tap-doan-OSG">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="h-[280px] w-[400px] md:h-[350px] md:w-[600px] border border-gray-400 object-cover"
                            src="images/OSG-1.png" alt="chưa có ảnh" />
                    </div>
                    <span>
                        <a href="" class="font-medium text-[22px] leading-[21.79px] group-hover:text-sky-500">OSG, Tập
                            đoàn hàng đầu Nhật Bản!</a>
                        <div class="flex justify-between h-[280px] w-[400px] md:h-[350px] md:w-[600px]">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500">
                                Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất
                                và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt
                                kim loại, và các sản phẩm liên quan đến công nghiệp...

                            </p>
                        </div>
                    </span>
                </a>
            </div>

            <div class=" group  mx-auto">
                <a href="#!/tin-tuc/hop-dong">
                    <div class="block relative overflow-hidden group pb-2">
                        <img class="h-[280px] w-[400px] md:h-[350px]  md:w-[600px] border border-gray-400 object-cover"
                            src="images/EPSON045-2.png" alt="chưa có ảnh" />
                    </div>
                    <span>
                        <a href="" class="font-medium text-[22px] leading-[21.79px] group-hover:text-sky-500">OSG
                            Watertech đã có mặt tại Việt Nam</a>
                        <div class="flex justify-between h-[280px] w-[400px] md:h-[350px] md:w-[600px]">
                            <p class="font-medium text-[16px] leading-[21.79px] text-gray-500">
                                OSG Watertech là một công ty chuyên sản xuất các giải pháp xử lý nước thải và nước sạch,
                                và công ty này đã đạt được các chứng nhận ISO 13458:2016 và ISO EN13458:2016. Hiện nay
                                OSG Watertech đã kí kết thỏa thuân hợp tác với Daietsu mở ra con đường cho các công nghệ
                                hàng đầu...
                            </p>
                        </div>
                    </span>
                </a>
            </div>
            <a href="#!/tin-tuc"
                class="py-2 mb-10 px-3 text-lg font-medium rounded-md bg-sky-500 text-white absolute bottom-10 left-[48%]">Đọc
                thêm</a>



</section>