<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">OSG Watertech đã có mặt tại Việt Nam</h1>
    <p class=" text-base mb-4">Chí Doanh - 30/5/2023S</p>

    <div class="bg-white shadow-md overflow-hidden">
        <img src="images/EPSON045-1.png" alt="Hình ảnh minh họa"
            class="w-[60%] h-[1000px] object-cover mx-auto">
        <div class="p-6">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">OSG Watertech là một công ty chuyên sản xuất các giải pháp xử lý nước thải và nước sạch, và công ty này đã đạt được các chứng nhận ISO 13458:2016 và EN ISO 13458:2016.</p>
            <img src="images/EPSON045-4.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[1000px] object-cover mx-auto my-8">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Chứng nhận ISO 13458:2016 là tiêu chuẩn quốc tế về hệ thống quản lý chất lượng. Đây là một chứng nhận quan trọng cho OSG Watertech vì nó đảm bảo rằng công ty đã thiết lập và duy trì một hệ thống quản lý chất lượng đáp ứng được các yêu cầu của ISO 13458:2016. Điều này cho thấy OSG Watertech cam kết cải thiện chất lượng sản phẩm và dịch vụ của mình, đồng thời đảm bảo rằng các hoạt động của công ty được thực hiện một cách bền vững và có hiệu quả.</p>
            <img src="images/EPSON045-3.png" alt="Hình ảnh minh họa"
                class="w-[100%]  object-cover mx-auto my-8">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Chứng nhận EN ISO 13458:2016 là tiêu chuẩn quốc tế về hệ thống quản lý môi trường. Chứng nhận này xác nhận rằng OSG Watertech đã thiết lập và duy trì một hệ thống quản lý môi trường đáp ứng được các yêu cầu của EN ISO 13458:2016. Điều này cho thấy OSG Watertech đảm bảo rằng các hoạt động của công ty được thực hiện một cách bền vững và có ý thức với môi trường.</p>
            <img src="images/EPSON045-2.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[1000px] object-cover mx-auto my-8">
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">OSG Watertech cam kết cung cấp các giải pháp xử lý nước thải và nước sạch có chất lượng cao và đảm bảo an toàn cho con người và môi trường. Công ty này có một đội ngũ chuyên gia có kinh nghiệm và tận tâm, luôn nghiên cứu và phát triển các giải pháp mới để đáp ứng nhu cầu của khách hàng.</p>
            
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Ngoài ra, OSG Watertech cũng cam kết với việc cải thiện chất lượng nước và tài nguyên nước. Công ty này đảm bảo rằng các sản phẩm và dịch vụ của họ đáp ứng được các tiêu chuẩn chất lượng và bảo vệ môi trường. Công ty đang nghiên cứu và phát triển các giải pháp xử lý nước thải và nước sạch tiên tiến hơn để giúp giảm thiểu tác động đến môi trường và bảo vệ tài nguyên nước.</p>
            <p class="text-gray-700 mb-4 md:mx-32 md:text-[20px]">Vừa qua, OSG Watertech cùng với chúng tôi đã kí kết thọa thuận hợp tác phân phối các sản phẩm máy lọc, lõi lọc mang thương hiệu OSG watertech chính hãng Nhật Bản tại thị trường Việt Nam, với mong muốn đem lại các sản phẩm công nghệ tiên tiến tới thay người tiêu dùng Việt Nam và cơ hội làm việc cho các đối tác phân phối. <br><br> Ngoài ra Chúng tôi cũng có nhưng chính sách ưu đãi với chiết khấu tốt cho các đại lí mong muốn hợp tác, mọi thông tin vui lòng liên hệ qua đường dây nóng (+81) 0489-762-3375 hoặc mail info@dest.co.jp <br><br> Xin cảm ơn!</p>

        </div>
    </div>
    <div>
        <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

        <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tin tức thứ nhất -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                    <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                    <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ hai -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/nghe an 5.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</h2>
                    <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                    <a href="#!/tin-tuc/OSG-nghe-an" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ ba -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/OSG-1.png" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                    <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                    <a href="#!/tin-tuc/tap-doan-OSG" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
