<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">Công dụng bất ngờ từ nước đóng chai IMIZU công nghệ i-on kiềm</h1>
    <p class=" text-base mb-4">QUANG ĐẠI - Thứ bảy, 01/01/2022 16:34 (GMT+7) theo Báo Lao Động</p>

    <div class="bg-white shadow-md overflow-hidden">
        <img src="images/nghe an 1.jpg" alt="Hình ảnh minh họa"
            class="w-[60%] h-[470px] object-cover mx-auto">
        <div class="p-6">
            <p class="text-xl text-base mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng từ lâu đời. Nước được Công ty lấy từ núi về chứa trong các bồn tẹc và chiết chai theo quy trình hiện đại.</p>
            <img src="images/nghe an 2.jpg" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Hiện tại nhà máy đang có hai dòng sản phẩm chính được sản xuất tại nhà máy là nước tinh khiết đóng chai và nước i-on kiềm đóng chai mang thương hiệu IMIZU.</p>
            <img src="images/nghe an 3.jpg" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Công nghệ siêu lọc UF hiện đại nhất của Mỹ kết hợp với sự chuyển giao tách i-on kiềm tiên tiến của công ty OSG water Nhật Bản tạo ra các sản phẩm nước uống tinh khiết đóng chai cao cấp thương hiệu IMIZU.

                <br><br> Công nghệ tách i-on trong sản xuất nước đóng chai là công nghệ tiên tiến nhất hiện nay, với sản phẩm có nhiều tính năng đặc biệt tốt cho sức khỏe. Nước i-on kiềm (alkaline ionized water) có độ pH từ 8.5 đến 9.5 là loại nước uống tốt, phù hợp để uống hằng ngày nhằm cải thiện sức khỏe, tăng cường hệ miễn dịch, trung hòa axit dư thừa, trung hòa các gốc tự do, làm chậm quá trình lão hóa, phòng chống và hỗ trợ điều trị nhiều bệnh mạn tính như ung thư, tiểu đường, gout, cao huyết áp, đau dạ dày, loãng xương...</p>
            <img src="images/nghe an 4.jpg" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Đặc biệt, nước ion kiềm còn rất tốt cho phụ nữ mang thai. Theo nhận định từ các chuyên gia, nước ion kiềm không chỉ an toàn trong thời gian thai kỳ, mà nó còn giúp mang lại nhiều lợi ích cho sức khỏe.

                Trong thời gian mang thai, cơ thể người mẹ có xu hướng nghiêng về tính axit. Vì vậy, uống nước ion kiềm giúp cân bằng mức độ pH trong cơ thể, hỗ trợ cân bằng được độ pH trong cơ thể người mẹ trong thời kỳ mang thai.</p>
            <img src="images/nghe an 5.jpg" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Giáo sư HIROMI SHINYA- Bác sĩ nổi tiếng Nhật Bản nói: “Chúng ta phải uống nước tốt chứ không phải chỉ là nước sạch, đó là nước uống giàu tính kiềm, đây là loại nước điện giải (ionized water) được tạo ra bằng công nghệ điện giải (điện phân) tách nước thành dạng ionH+ và OH- để làm tăng tính kiềm, bổ sung hydrogen và tái cấu trúc nước thành nước có phân tử siêu nhỏ. Ở Việt Nam thường gọi loại nước này là nước ion kiềm".

                Với nguồn nước tinh khiết có nhiều khoáng chất quý, công nghệ tiên tiến và dây chuyền hiện đại, Nước đóng chai IMIZU sản xuất bằng công nghệ i-on kiềm là sản phẩm quý giá từ quê hương Nghệ An dành tặng quý khách trong vào ngoài nước.
                
                Địa chỉ nhà máy sản xuất nước đóng chai tinh khiết IMIZU: Tổng Công ty Cổ phần Vật tư nông nghiệp Nghệ An – 98-Nguyễn Trường Tộ - TP.Vinh-Nghệ An. ĐT: 088.645.9898</p>

        </div>
    </div>
    <div>
        <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

        <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tin tức thứ nhất -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                    <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                    <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ hai -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/nghe an 5.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</h2>
                    <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                    <a href="#!/tin-tuc/OSG-nghe-an" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ ba -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/OSG-1.png" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                    <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                    <a href="#!/tin-tuc/tap-doan-OSG" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
