<div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-sky-500 mx-3 mb-8">OSG, Tập đoàn hàng đầu Nhật Bản!</h1>
    <p class=" text-base mb-4">Đăng bởi Tiến Đức vào ngày 16/05/2023</p>

    <div class="bg-white shadow-md overflow-hidden">
        <img src="images/OSG-1.png" alt="Hình ảnh minh họa"
            class="w-[60%] h-[470px] object-cover mx-auto">
        <div class="p-6">
            <p class="text-xl text-base mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp. Tập đoàn này được thành lập vào năm 1938 tại Tokyo, Nhật Bản và đã phát triển mạnh mẽ với một số công nghệ tiên tiến và sáng tạo.</p>
            <img src="images/OSG-2.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">OSG hiện là một trong những tập đoàn hàng đầu thế giới trong lĩnh vực sản xuất dụng cụ cắt kim loại và công nghệ đo kiểm chất lượng. Các sản phẩm của OSG được sử dụng rộng rãi trong các công đoạn sản xuất kim loại, máy móc, ô tô, máy bay và nhiều lĩnh vực khác. <br> <br> OSG đã có một sự phát triển đáng kể trong suốt hơn 80 năm hoạt động của mình. Tập đoàn này đã mở rộng hoạt động của mình sang nhiều quốc gia và khu vực trên thế giới, bao gồm Châu Á, Âu Mỹ, và Trung Đông. Đặc biệt, OSG đã thiết lập một mạng lưới liên kết với nhiều tập đoàn lớn trên toàn cầu, bao gồm Sandvik, Kennametal và Mitsubishi Materials. Các liên kết này đã giúp OSG tăng cường sức mạnh và nâng cao năng lực cạnh tranh của mình trên thị trường quốc tế.</p>
            <img src="images/kinh doanh thiet bi nuoc OSG.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Ngoài ra, OSG cũng đã đầu tư vào nhiều công ty con và thương hiệu khác để mở rộng hoạt động của mình. Trong đó, công ty con OSG Water là một trong những công ty được đánh giá cao về chất lượng sản phẩm và dịch vụ. OSG Water chuyên sản xuất các sản phẩm liên quan đến lĩnh vực xửlý nước và môi trường, bao gồm các thiết bị xử lý nước thải, các hệ thống lọc nước, và các sản phẩm khác liên quan đến công nghệ môi trường. <br><br> OSG Water được thành lập năm 1970 và hiện đang hoạt động tại nhiều quốc gia trên thế giới, bao gồm cả Nhật Bản, Hoa Kỳ, Trung Quốc, và các nước Châu Âu. Công ty này đã đạt được nhiều chứng nhận quốc tế về chất lượng sản phẩm và dịch vụ, bao gồm cả chứng nhận ISO 9001 và ISO 14001.

                <br><br> Với sự phát triển không ngừng của công nghệ và nhu cầu ngày càng tăng về sản phẩm và dịch vụ chất lượng, Tập đoàn OSG và công ty con OSG Water đã đưa ra những chiến lược phát triển mới để tiếp tục tăng cường sức mạnh và năng lực cạnh tranhcủa mình trên thị trường quốc tế. Các chiến lược này bao gồm đầu tư vào nghiên cứu và phát triển công nghệ để sản xuất các sản phẩm tiên tiến hơn, tăng cường quản lý chất lượng và dịch vụ khách hàng, và mở rộng hoạt động kinh doanh sang các thị trường mới đặc biệt là thị trường Việt Nam.</p>
            <img src="images/tong quan ve hoat dong OSG.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <h2 class="text-2xl font-bold mb-4 px-5 py-5 bg-sky-500 text-white">Các dự án của OSG Water tại Việt Nam</h2>
            <img src="images/da quoc gia OSG.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <ul class="list-disc list-inside mb-4">
                <li class="text-xl text-base mb-2">Dự án xử lý nước thải cho nhà máy sản xuất bia Heineken tại Tp. Hồ Chí Minh: Đây là một dự án quan trọng của OSG Water tại Việt Nam. Hệ thống xử lý nước thải được thiết kế để loại bỏ các chất độc hại và đảm bảo chất lượng nước đáp ứng được các yêu cầu của ngành sản xuất bia. Kết quả của dự án này đã được Heineken đánh giá cao về hiệu quả và độ tin cậy.</li>
                <li class="text-xl text-base mb-2">Dự án xử lý nước thải cho nhà máy sản xuất dệt may Việt Tân tại Bình Dương: Hệ thống xử lý nước thải được thiết kế để loại bỏ các chất độc hại và đảm bảo chất lượng nước đáp ứng được các yêu cầu của ngành sản xuất dệt may. Kết quả của dự án này đã giúp cho Việt Tân tiết kiệm được chi phí xử lý nước thải và đồng thời giảm thiểu tác động tiêu cực đến môi trường.</li>
                <li class="text-xl text-base mb-2">Dự án xử lý nước thải cho trang trại tôm tại Cần Thơ: OSG Water đã cung cấp hệ thống xử lý nước thải cho trang trại tôm để giảm thiểu tác động tiêu cực đến môi trường. Hệ thống này được thiết kế để loại bỏ các chất độc hại và giảm thiểu mùi hôi từ nước thải. Kết quả của dự án này đã giúp cho trang trại tôm tiết kiệm được chi phí xử lý nước thải và đồng thời tăng năng suất sảnxuất của trang trại.</li>
                <li class="text-xl text-base mb-2">Dự án xử lý nước thải cho công ty sản xuất thức ăn chăn nuôi tại Đồng Nai: OSG Water đã thiết kế và triển khai hệ thống xử lý nước thải cho công ty sản xuất thức ăn chăn nuôi tại Đồng Nai. Hệ thống này được thiết kế để loại bỏ các chất độc hại và đảm bảo chất lượng nước đáp ứng được các yêu cầu của ngành sản xuất thực phẩm. Kết quả của dự án này đã giúp cho công ty tiết kiệm được chi phí xử lý nước thải và đồng thời giảm thiểu tác động tiêu cực đến môi trường</li>
            </ul>

            <img src="images/OSG cuoi cung.png" alt="Hình ảnh minh họa"
                class="w-[60%] h-[470px] object-cover mx-auto my-8">
            <p class="text-xl text-base mb-4">Các dự án của OSG Water tại Việt Nam chứng tỏ sự cam kết của công ty đối với việc đóng góp vào việc bảo vệ môi trường và nâng cao chất lượng cuộc sống của con người. OSG Water đã thực hiện các giải pháp sáng tạo và bền vững để giúp giải quyết các vấn đề về môi trường và tài nguyên nước tại Việt Nam.</p>


        </div>
    </div>
    <div>
        <h1 class="text-3xl pl-4 py-3 md:text-4xl font-bold text-white  mb-8 bg-sky-500">Bài viết khác</h1>

        <div class="grid mx-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Tin tức thứ nhất -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/loi-ich-cua-nuoc-kiem3.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Tác dụng của máy lọc nước kiềm</h2>
                    <p class="text-gray-700 mb-4">Nước là nguyên liệu cần thiết cho sự sống và tác động rất lớn đến sức khỏe của con người. Theo các chuyên gia, nước uống tốt nhất cho sức khỏe là nước có độ pH trung tính hoặc kiềm nhẹ. Nước có độ kiềm giúp cân bằng pH trong cơ...</p>
                    <a href="#!/tin-tuc/tai-sao-nen-su-dung-nuoc-kiem" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ hai -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/nghe an 5.jpg" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Công nghệ lọc hàng đầu Nhật Bản đã có mặt tại Nghệ An</h2>
                    <p class="text-gray-700 mb-4">Nhà máy sản xuất nước đóng chai Thiên Nhẫn thuộc Tổng Công ty CP Vật tư Nông nghiệp Nghệ An, sử dụng nguồn nước được lấy từ Khe Kẹp thuộc dãy núi Thiên Nhẫn, là nguồn nước tinh khiết, có nhiều khoáng chất quý giá, người dân sử dụng...</p>
                    <a href="#!/tin-tuc/OSG-nghe-an" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
            <!-- Tin tức thứ ba -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl">
                <img src="images/OSG-1.png" alt="News Image"
                    class="w-full h-56 object-cover">
                <div class="p-6">
                    <h2 class="text-xl font-bold text-gray-800 mb-2">OSG, Tập đoàn hàng đầu Nhật Bản!</h2>
                    <p class="text-gray-700 mb-4">Tập đoàn OSG là một trong những tập đoàn hàng đầu của Nhật Bản trong lĩnh vực sản xuất và kinh doanh các sản phẩm cắt gọt kim loại, thiết bị đo kiểm chất lượng, dụng cụ cắt kim loại, và các sản phẩm liên quan đến công nghiệp...</p>
                    <a href="#!/tin-tuc/tap-doan-OSG" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        Đọc tiếp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
